*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.about img{
    position: absolute;
    margin-top: 5%;
    height: 40%;
    width: 40%;
    left: 30%;
    border: 5px white;
    border-radius: 20px;
}